html{
  scroll-behavior: smooth !important;
}

.jumbo{
  min-height: 100vh;
  background-size: cover;  
  position: relative;
}

.img-filter{
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(1, 1, 1, 0.3);
}

@media (max-width: 768px){
  .jumbo{
    min-height: 65vh;
  }
}