
html{
  scroll-behavior: smooth !important;
}

/*Jumbotron filter*/

.jumbo{
  min-height: 100vh;
  background-size: cover;  
  position: relative;
}

.img-filter{
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(1, 1, 1, 0.45);
}

/*Jumbotron filter*/


/*Jumbotron responsive size*/

.jumbo p{
  font-size: 1.5em;
}

.main-body{
  padding-top: 1em;
  padding-bottom: 1em;
}

@media (max-width: 768px){
  .jumbo{
    min-height: 80vh;
  }

  .jumbo p{
    font-size: 1em;
  }
}

/*Jumbotron responsive size*/


/*Prevents the section's titles from being cover by de fixed navbar when clicked*/

.main-body h2{
  position: relative;
}

.main-body h2 span.anchor{
  position:absolute;
  top:-70px;
}

/*Prevents the section's titles from being cover by de fixed navbar when clicked*/

/*Custom picture*/
.img-me{
  border: 0.25rem solid #55555522;
  width: 90%;
}
/*Custom picture*/


/*Language texte style*/

.language-level{
  font-weight: bold;
}

.mx-flag{
  color:#095f44;
}

.us-flag{
  color: #cf2335;
}

.it-flag{
  color: #088042;
}

.fr-flag{
  color: #0a4f8f;
}

/*Language texte style*/

/*WhatsApp button*/
.btn-wts{
  border: 1px solid #103928;
  background-color: none;
}
/*WhatsApp button*/

