
html{
  scroll-behavior: smooth !important;
}

/*Jumbotron filter*/

.jumbo{
  min-height: 100vh;
  background-size: cover;  
  position: relative;
}

.img-filter{
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(1, 1, 1, 0.7);
}

/*Jumbotron filter*/


/*Jumbotron responsive size*/

.jumbo p{
  font-size: 1.5em;
}

.main-body{
  padding-top: 1em;
  padding-bottom: 1em;
}

/*Jumbotron responsive size*/


/*Prevents the section's titles from being cover by de fixed navbar when clicked*/

.main-body h2{
  position: relative;
}

.main-body h2 span.anchor{
  position:absolute;
  top:-70px;
}

/*Prevents the section's titles from being cover by de fixed navbar when clicked*/

/*Custom picture*/
.img-me{
  border: 2px solid #55555522;
  width: 90%;
}
/*Custom picture*/


/*Language texte style*/

.language-level{
  font-weight: bold;
}

.mx-flag{
  color:#095f44;
}

.us-flag{
  color: #cf2335;
}

.it-flag{
  color: #088042;
}

.fr-flag{
  color: #0a4f8f;
}

/*Language texte style*/


/*WhatsApp button*/
.btn-wts{
  border-color: #075E54;
  background-color: white;
  color: #075E54;
  transition: 0.4s;
}

.btn-wts a{
  color: #075E54;
  transition: 0.4s;
}

.btn-wts:hover{
  border-color: white;
  background-color: #075E54;
  color: white;
}

.btn-wts:hover a{
  color: white;
}
/*WhatsApp button*/


/*Custom items*/
.info-a{
  text-decoration: none;
}

.social-icon{
  display: inline-block;
  transition: transform 0.3s ease-in-out;
}

.social-icon:hover{
  transform: translateY(-5px);
}
/*Custom items*/


/*Fade animation*/

@keyframes fadding { 
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}


body{
  animation: fadding 1.5s 1;
}

/*Fade animation*/